[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
fastapi = "0.78.0"
sqlalchemy = "*"
psycopg2-binary = "*"
jinja2 = "3.1.2"
alembic = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
flask-admin = "==1.6.0"
aiofiles = "*"
fastapi-static-digest = "~=1.1.0"
fastapi-jinja-utils = {version = "~=1.0"}
fastapi-utils = "*"
typing-extensions = "*"
importlib-resources = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
autoflake = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
