[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
jinja2 = "*"
alembic = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
flask-admin = "==1.5.8"
aiofiles = "*"
fastapi-static-digest = "~=1.1.0"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
autoflake = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
